body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
img {
  width: 100%;
}
.page {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
main {
  width: 100%;
}
.page-main {
  max-width: 1258px;
  min-height: 100vh;
  background-image: url(../images/output-onlinepngtools.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container {
  padding-top: 60px;
  width: 810px;
  height: fit-content;
  align-items: start;
  display: flex;
  gap: 10px;
  position: relative;
}
.photo {
  width: 520px;
  height: 520px;
  overflow: hidden;
}
.text {
  margin-top: 0;
  width: 280px;
  text-align: start;
  font-size: 14px;
  line-height: 1.4;
  color: grey;
}
.title-container {
  position: absolute;
  height: 250px;
  width: 50%;
  background-color: #fff;
  left: 0;
  bottom: 50px;
  display: flex;
  align-items: center;
  transition: 250ms ease-in;
}
.photo:hover + .title-container {
  width: 36%;
}
.title {
  font-size: 45px;
  font-weight: 700;
  font-family: "Philosopher", sans-serif;
  width: 55%;
}
.footer-container {
  height: 100px;
  width: 100%;
  background-color: rgb(55, 55, 70);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text {
  font-size: 16px;
  color: #fff;
  width: fit-content;
}
.footer-text-link {
  color: rgb(121, 160, 193);
}
@media screen and (max-width: 898px) {
  .page-main {
    max-width: 950px;
  }
  .container {
    width: 600px;
    padding-top: 40px;
  }
  .photo {
    width: 384px;
    height: 450px;
  }
  .text {
    width: 222px;
    font-size: 12px;
  }
  .title-container {
    height: 160px;
    bottom: 40px;
  }
  .title {
    font-size: 40px;
    width: 55%;
  }
}

@media screen and (max-width: 630px) {
  .container {
    width: 360px;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 50px 50px;
  }
  .page-main {
    background-size: 250px 42%;
  }
  .title-container {
    width: 250px;
    height: 100px;
    padding-left: 45px;
    bottom: 80px;
  }
  .title {
    font-size: 32px;
  }
  .photo {
    width: 240px;
    height: 300px;
    align-self: end;
  }
  .text {
    width: 240px;
    font-size: 14px;
  }
  .footer-text {
    font-size: 10px;
  }
}
