body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
img {
  width: 100%;
}
.page {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
main {
  width: 100%;
}
.page-main {
  max-width: 1258px;
  min-height: 100vh;
  background-image: url(../images/output-onlinepngtools.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container {
  margin-top: 60px;
  width: 810px;
  height: fit-content;
  align-items: start;
  display: flex;
  gap: 10px;
  /* width: 70%; */
  /* width: 810px; */
  /* overflow: hidden; */
  position: relative;
}
.photo {
  width: 520px;
  height: 520px;
  overflow: hidden;
}
.text {
  margin-top: 0;
  width: 280px;
  text-align: start;
  font-size: 14px;
  line-height: 1.4;
  color: grey;
}
.title-container {
  position: absolute;
  height: 250px;
  width: 50%;
  background-color: #fff;
  left: 0;
  bottom: 50px;
  display: flex;
  align-items: center;
}
.title {
  font-size: 45px;
  font-weight: 700;
  font-family: "Philosopher", sans-serif;
  width: 55%;
}
footer {
  height: 100px;
  width: 100%;
  background-color: blue;
}

@media screen and (max-width: 898px) {
  main {
    width: 600px;
  }
}
